<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="exercicioSelecionado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title>Exercício</title>
</head>
<body>
    <div class="container">

        <div id="containerDropdown">
            <div class="dropdown">
                <img src="../../extra/menu.png" class="dropbtn" onclick="openNav()" alt="logout">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="../apostila/apostila.html">Apostila</a>
                    <a href="../modulo/modulo.html">Módulos</a>
                    <a href="../exercicio/exercicio.html">Exercícios</a>
                    <a href="../info/tela-info-user.html">Alterar informações</a>
                </div>
            </div> 

            

            
            <div class="imageLogout">
                <img src="../../extra/logout-button.png" onclick="sair()" alt="logout">
            </div>             
        </div>

        <div class="enunciado">
            <p>
                Quatro suspeitos de praticar um crime fazem as seguintes declarações:
            </p>
            <p>
                João: Carlos é o criminoso.
            </p>
            <p>
                Pedro: eu não sou criminoso.
            </p>
            <p>                
                Carlos: Paulo é o criminoso.
            </p>
            <p>
                Paulo: Carlos está mentindo.
            </p>
            <p>
                Sabendo que apenas um dos suspeitos mente, determine quem é o criminoso.
            </p>
        </div>

        <div class="alternativas">
            <ul>
                <li>
                    <p class="questao">João é o criminoso.</p>
                </li>
                <li>
                    <p class="questao">Pedro é o criminoso.</p>
                </li>
                <li>
                    <p class="questao">Carlos é o criminoso.</p>
                </li>
                <li>
                    <p class="questao">Paulo é o criminoso.</p>
                </li>
            </ul>
        </div>

        <div class="bottom">
            <div class="botoesNav">
                <button class="btnNav">Voltar</button>
                <button class="btnNav">Avançar</button>
            </div>
    
            <div class="dica">
                <a href="#dica" rel="modal:open"><img src="../../extra/lamp.png" class="imgLamp" alt="Dica"></a>
            </div>
        </div>
    
</body>

<div id="dica" class="modal">
    <p>Se João diz a verdade, a declaração de Pedro pode ser verdadeira, a de Carlos seria falsa (por ser contraditória) e Paulo estaria falando a verdade.</p>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="exercicioSelecionado.js"></script>

</html>