
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    background-color: #1D2130;
    justify-content: center;
    font-family: Source Code Pro;
    font-size: 18px;
 }

 .container {
    margin: 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
 }


#botoes button{
    margin-right: 10px;
}
button{
    background-color: #3B4157;
    outline: none;
    width: 500px;
    height: 70px;
    border: none;
    transition-duration: 0.4s;
    border-radius: 50px;
    font-size: 18px;
}

.btnNav {
    background-color: #F6C154 !important;
    width: 15%;
}

.clicked{
    background-color: #F6C154;
}

button:hover {
    background-color: #F6C154; 
    filter: brightness(85%);
    cursor: pointer;
}
#botoes{
    display: flex;
    overflow: auto;
    white-space: break-spaces;
    padding-bottom: 40px;
    width: 100%;
    justify-content: center;
}

.botoesNav {
    display: flex;
    width: 50%;
    justify-content: center;
}

#botoes button{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.imageLogout img{
  
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#containerDropdown{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
}
  
  
#myDropdown{
    margin-left: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

.containerDropDown{
    display: flex;
    align-self: baseline;
}

ul { 
    list-style-type: none; 
    display: grid;
}

.questao{
    padding-left: 15px;
    text-align: left;
    background: rgba(59, 65, 87, 0.95);
    color: #ddd;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    width: 82%;
    margin-left: 7%;
}

.questao:hover{
    border: 2px solid #F6C154;
}

.enunciado {
    padding: 15px;
    text-align: left;
    background: rgba(59, 65, 87, 0.95);
    color: #ddd;
    border-radius: 20px;
    width: 80%;
    height: auto;
}

.sidenav img{
    width: 80px;
}

#containerDropdown{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
}

#myDropdown{
    margin-left: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.containerDropDown{
    display: flex;
    align-self: baseline;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3B4157;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F6C154;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .imgLamp {
      cursor: pointer;
      width: 12%;
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
  }